.App-logo {
  margin-top: 6vw;
  height: 40vmin;
  pointer-events: none;
  border-radius: 200px;
}

.App-header {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: #6FABC7;
}

p{
  margin: 0;
}
