.home{
    display: flexbox;
    width: 96vw;
    height: 92vh;
    color: #F6F6FE;
}

.t32{
    width: 30vw;
    min-width: 250px;
}

.t32 h1{
    letter-spacing: 2px;
}

.t32 button{
    left: 2%;
    margin: 0;
    padding: 0;
}


.home hr{
    background-color: #F6F6FE;
    border-color: #F6F6FE;
    border-radius: 100%;
}

.home h2{
    font-size: 3vh;
}


